.container {
}

.header {
	justify-content: space-between;
	padding: 0.5rem;
	width: 100%;
	margin-bottom: -4rem;
}

.header ul {
	box-shadow: inset 0 -10px  #ffff99;
	display: flex;
	padding-bottom: 2rem;
}

.header li {
	list-style: none;
	text-decoration: none;
	font-size: 1rem;
}

.navHomeName {
	font-weight: bold;
	font-size: 1.2rem;
	margin-left: 22rem;
	margin-right: 37rem;
}

.navTodo {
	margin-right: 2rem;
}