.header {
	padding: 2rem;
}

.header ul {
	display: flex;
}

.header li {
	list-style: none;
	text-decoration: none;
	font-weight: bold;
}

.navHomeName {
	font-size: 1.5rem;
	margin-left: 10rem;
	margin-right: 40rem;
}

.navTodo {
	margin-right: 1rem;
}