.container {
	border-bottom: 1px solid lightgray;
	width: 100%;
	margin: 0 20rem 0 0;
	padding: 0 0 0 0 ;
}

.details {
}

.actions {
	display: flex;
	justify-content: flex-end;
	margin: 0.5rem 0;
}

.details span {
}

.todo_title {
	font-size: 1rem;
}

.complete_todo_title {
	text-decoration: line-through;
}

.modifyBTN button {
	color: #61dafb;
}
.deleteBTN button {
	color: #b3807a;
	margin-left: -1rem;
}
